
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .container {
    height: calc(100vh - 145px);
    /* width: 150%; */
    object-fit: fill;
  }
}
